/* -----------------------------------
------- HOME PAGE - SECTION TWO --------
 ------------------------------------ */

.section-two {
  background-color: var(--clr-white);
}

.section-two-layout {
  padding: 2rem 0 5rem;
}

.card {
  padding: 2rem 0;
}

.card-text-content h2 {
  margin-bottom: 1em;
  color: var(--clr-primary);
}

.card-text-content p {
  margin-bottom: 1.2em;
}

@media (min-width: 768px) {
  .card {
    display: flex;
    justify-content: space-between;
  }

  .card-text-content {
    width: 55%;
  }

  .card-img-container {
    width: 40%;
  }

  .card-img {
    object-fit: cover;
    height: 250px;
  }

  .card p {
    font-size: 1.125rem;
  }
}

@media (min-width: 992px) {
  .card-img {
    height: 100%;
  }
}

@media (min-width: 1200px) {
  .section-two-layout {
    display: flex;
    gap: 2.5rem;
    padding: 3rem 0 5rem 0;
  }

  .card {
    flex-direction: column;
    text-align: center;
  }

  .card-text-content,
  .card-img-container {
    width: 100%;
  }

  .card-img {
    width: 360px;
    height: 220px;
    object-fit: cover;
  }
}
